a{
    text-decoration: none;
    color: hsl;
    text-align: cemter;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10PX;

}
.Link{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-align: cemter;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10PX;   
}
.Link:hover {
    cursor: pointer;
  }
a, .Link:hover {
    color: #8634de;
    text-shadow: 0 0 5px #880e5f77; /* Sombra branca */
  }

.container{
   padding: 10px 0px 0px 0px;
   margin-left: 70%;
}

.navbar-toggler{
  /*border: 1px solid #fff; */
  margin-top: 5%;
  margin-left: -68%;
  position: absolute;
}
.navbar-toggler:hover{
  color: #9747ff;
}
.navbar-toggler-icon{
  background-image: url(../assets/menuIcon.svg);
}


