* {
  box-sizing: border-box;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0px 0px 0px;
  margin: 0px 100px;
}

.bolinha {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0 ;
}

.nome {
  margin: 0 20px;
  color: #fff;
  font-family: Inconsolata;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.linha::before,
.linha::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: rgb(255, 255, 255);
}
.container-footer {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px; /* Adiciona padding se necessário */
 
}

/* Estilos para o texto de direitos autorais */
.copy {
  flex: 1;
  padding: 0;
  color: #FFF;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  box-sizing: border-box;
}

/* Estilos para o menu de navegação do rodapé */
.footerNav {
  flex: 1;
  padding: 20px;
  color: #FFF;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right; /* Alinha o texto à direita */
  box-sizing: border-box;
}

.logo {
  width: 35px;
  height: 35px;
}

.footerNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footerNav li {
  display: inline;
  margin: 0 10px; /* Espaçamento entre os itens */
}

.footerNav ul li a {
  color: #FFF;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.footerNav ul li a:hover {
  border-bottom: 3px solid #FFF;
}

/* Responsividade */
@media (max-width: 768px) {
  .container-footer {
    flex-direction: column; 
    padding: 10px; 
  }
}

@media (max-width: 511px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto dentro do contêiner */
    padding: 10px; /* Ajusta o padding para telas menores */
  }
  
  .copy, .footerNav {
    flex: 1 1 100%;
    padding: 10px 0; /* Ajusta o padding para evitar cortes */
    text-align: center; /* Centraliza o texto */
  }
  
  .footerNav {
    text-align: center; /* Centraliza os links de navegação no rodapé */
  }
}


@media (max-width: 480px) {
  .container-footer {
    padding: 5px; 
  }
}
